<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saludator</title>
	<!--<link rel="stylesheet" th:href="@{/css/estyle.css}" >-->
</head>

<body>
    <header th:fragment="cabecera">
        <nav>
            <h1>Tienda de Productos Gourmet</h1>
        </nav>
    </header>

    <footer th:fragment="pie">
        <div>
            <p>&copy; 2026 <span>Tienda de Productos Gourmet</span>. Todos los derechos reservados.</p>
        </div>
    </footer>


</body>

</html>
